@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background-image: url("../../public/assets/background.jpg");
   background-size: 1200%;
   background-position: center;
   direction: rtl;
}

.rotate-y-180 {
   transform: rotateY(180deg);
}
