@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background-image: url("../../public/assets/background.jpg");
   background-size: 1200%;
   background-position: center;
   direction: rtl;
}

.rotate-y-180 {
   transform: rotateY(180deg);
}

/* Entire scrollbar */
::-webkit-scrollbar {
   width: 12px;
   height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #a2f1f7;
   border-radius: 6px;
   transition: ease-in-out;
   transition-duration: 400ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #7d8fdf;
   transition: ease-in-out;
   transition-duration: 400ms;
}

/* embla styles */
.embla {
   overflow: hidden;
}

.embla__viewport {
   overflow: hidden;
   width: 100%;
}

.embla__container {
   display: flex;
   align-items: center;
}

.embla__slide {
   position: relative;
   min-width: 100%;
   padding: 3px;
   text-align: center;
   align-items: center;
}

.flashcard {
   transform-style: preserve-3d;
   transition: all 0.8s ease-in-out;
}

.flashcard-front {
   backface-visibility: hidden;
}

.flashcard-back {
   backface-visibility: hidden;
   transform: rotateY(180deg);
}

.flip {
   transform: rotateY(180deg);
}
